<li class="block category-item">
  <aside class="block__aside category-item__aside">
  <a href="{{ site.url }}/categories/company-of-the-year/">
    <span class="icon sprite__category sprite__category--company"></span>
  </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/company-of-the-year/">Company of the Year</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/communications/">
      <span class="icon sprite__category sprite__category--communications"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/communications/">Communications Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/emerging-professional/">
      <span class="icon sprite__category sprite__category--emerging"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/emerging-professional/">Emerging Professional Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/export/">
      <span class="icon sprite__category sprite__category--export"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/export/">Export Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/finance/">
      <span class="icon sprite__category sprite__category--finance"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/finance/">Finance Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/legal/">
      <span class="icon sprite__category sprite__category--legal"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/legal/">Legal Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/manufacturing/">
      <span class="icon sprite__category sprite__category--manufacturing"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/manufacturing/">Manufacturing Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/people-development/">
      <span class="icon sprite__category sprite__category--people-development"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/people-development/">People Development Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/property/">
      <span class="icon sprite__category sprite__category--property"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/property/">Property Award</a>
  </p>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/small-business-business-startup/">
      <span class="icon sprite__category sprite__category--small-business-business-startup"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/small-business-business-startup/">Small Business and Business Start Up Award</a>
  </p>
</li>
