<li class="block category-item">
  <aside class="block__aside category-item__aside">
  <a href="{{ site.url }}/categories/company-of-the-year/">
    <span class="icon sprite__category sprite__category--company"></span>
  </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/company-of-the-year/">Company of the Year</a>
  </p>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/outstanding-professional/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--outstanding-professional"></span>
    </aside>
    <p class="block__content category-item__title">Outstanding Professional</p>
  </a>
</li>

<li class="block category-item">
  <aside class="block__aside category-item__aside">
    <a href="{{ site.url }}/categories/communications/">
      <span class="icon sprite__category sprite__category--communications"></span>
    </a>
  </aside>
  <p class="block__content category-item__title">
    <a href="{{ site.url }}/categories/communications/">Communications Award</a>
  </p>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/environmental/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--environmental"></span>
    </aside>
    <p class="block__content category-item__title">Environmental Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/export/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--export"></span>
    </aside>
    <p class="block__content category-item__title">Export Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/finance/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--finance"></span>
    </aside>
    <p class="block__content category-item__title">Finance Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/legal/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--legal"></span>
    </aside>
    <p class="block__content category-item__title">Legal Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/manufacturing/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--manufacturing"></span>
    </aside>
    <p class="block__content category-item__title">Manufacturing Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/property/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--property"></span>
    </aside>
    <p class="block__content category-item__title">Property Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/small-medium-enterprises/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--small-medium-enterprises"></span>
    </aside>
    <p class="block__content category-item__title">Small and Medium Enterprises Award</p>
  </a>
</li>

<li class="block category-item">
  <a href="{{ site.url }}/categories/technology-digital/">
    <aside class="block__aside category-item__aside">
    <span class="icon sprite__category sprite__category--technology-digital"></span>
    </aside>
    <p class="block__content category-item__title">Technology and Digital Award</p>
  </a>
</li>
