<!--  CSS  -->

<style>
.header__main{background-color: #193f7e;}
.h1,.h2,.h3,.nav__main,.btn{font-family: sans-serif;}
.heading--main{margin-bottom:12px;padding: 12px 14.5px 12px 14.5px;background-color:#E9E9E9;border-top:6px solid #193f7e;border-bottom:1px solid #ccc;}.image__responsive {min-width: 100%;}
</style>

<!--<link rel="stylesheet" media="screen" href="{{ site.url }}/static/css/global.css">-->
{% if page.stylesheet %}<link rel="stylesheet" media="screen" href="{{ site.url }}/static/css/{{ page.stylesheet }}.css">
{% endif %}
