    <li>
      <a class="nav--categories" title="Categories" href="{{ site.url }}/categories/">Categories</a>
    </li><!--
    <li>
      <a class="nav--shortlist" title="Shorlist" href="{{ site.url }}/shortlist/">Shortlist</a>
    </li>
    <li>
      <a class="nav--winners" title="Winners" href="{{ site.url }}/winners/">Winners</a>
    </li>
 --><li>
      <a class="nav--judges" title="The Judges" href="{{ site.url }}/judges/">The Judges</a>
    </li><!--
 --><li>
      <a class="nav--sponsors" title="Our Sponsors" href="{{ site.url }}/sponsors/">Our Sponsors</a>
    </li><!--
 --><li>
      <a class="nav--news outbound link" title="Latest News" href="http://www.birminghampost.co.uk/all-about/birmingham%20post%20business%20awards/" target="_blank">Latest News</a>
    </li><!--
 --><li>
      <a class="nav--contact" title="Contact Us" href="{{ site.url }}/contact/">Contact</a>
    </li><!--
 --><li>
      <a class="nav--2013" title="2013 Awards" href="http://www.bpbusinessawards.co.uk/2013/">2013 Awards</a>
    </li>
