<section class="wrapper sponsors-bar cf">

  <div class="wrapper__sub">

    <section class="grid ss1-ss4 ls1">
    <h3 class="gamma heading--main">In associate with:</h3>
    <a class="outbound" target="_blank" href="http://www.turkishairlines.com/">
      <img src="{{ site.media }}/sponsors/logo_turkish-airlines.png" alt="Turkish Airlines">
    </a>
    </section>

    <section class="grid grid__seperator ss1-ss4 ls2-ls3">
    <h3 class="gamma heading--main">Supported by:</h3>

    <ul class="list gallery cf">
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="http://placehold.it/316x152.png" alt="">
        </a>
      </li>
    </ul>

    </section>

  </div><!--/ wrapper__sub  -->

</section>
