<section class="wrapper sponsors-bar cf">

  <div class="wrapper__sub">

    <section class="grid ss1-ss4 ls1">
    <h3 class="gamma heading--main">In association with:</h3>
    <a class="outbound" target="_blank" href="http://www.turkishairlines.com/">
      <img src="{{ site.media }}/sponsors/logo_turkish-airlines.png" alt="Turkish Airlines">
    </a>
    </section>

    <section class="grid grid__seperator ss1-ss4 ls2-ls3">
    <h3 class="gamma heading--main">Supported by:</h3>

    <ul class="list gallery cf">
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_birmingham-airport.png" alt="Birmingham Airport">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_bournville-college.svg" alt="Bournville College" data-fallback="{{ site.media }}/sponsors/logo_bournville-college.png">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_mainline.svg" alt="Mainline by Chiltern Railways" data-fallback="{{ site.media }}/sponsors/logo_mainline.png">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_ikea.svg" alt="Ikea" data-fallback="{{ site.media }}/sponsors/logo_ikea.png">
        </a>
      </li>
       <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_eit-climate-kic.svg" alt="Innovtion Birmingham" data-fallback="{{ site.media }}/sponsors/logo_eit-climate-kic.png">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_investec.svg" alt="Investec" data-fallback="{{ site.media }}/sponsors/logo_investec.png">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_jaguar-land-rover.png" alt="Jaguar Land Rover">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_jerroms.svg" alt="Jerroms" data-fallback="{{ site.media }}/sponsors/logo_jerroms.png">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_jll.png" alt="JLL">
        </a>
      </li>
      <li class="gallery__item">
        <a href="{{ site.url }}/sponsors/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_wesleyan.svg" alt="Wesleyan" data-fallback="{{ site.media }}/sponsors/logo_wesleyan.png">
        </a>
      </li>
    </ul>

    </section>

  </div><!--/ wrapper__sub  -->

</section>
