---
layout: columns-two
stylesheet:
class: page__index

title: Home Page
permalink:
meta:
  keywords:
  description:
  author:

hero:
  image: hero_2013-winners.jpg
  alt:
  copy: Enter Your Company
  link: categories/

sponsors: true

sitemap:
  lastmod: 2014-07-16
  priority: 0.7
  changefreq: weekly
  exclude:
---

{% for post in site.posts limit:1 %}
  <article>

    <h1 class="gamma heading--main">{{ post.title }}</h1>

    {% if post.video %}<div class="video__responsive">
    <canvas width="604" height="340"></canvas>
    <video width="604" height="340" controls poster="{{ post.video.poster }}">
      <source src="{{ post.video.webm }}" type="video/webm;codecs=vp8,vorbis">
      <source src="{{ post.video.mp4 }}" type="video/mp4;codecs=avc1.42E01E,mp4a.40.2">
      <source src="{{ post.video.ogg }}" type="video/ogg;codecs=theora,vorbus">
    </video>
    </div>{% elsif post.images %}<img class="image image__responsive" src="{{ site.media }}/news/{{ post.images.main }}" alt="">{% endif %}

    {{ post.content }}

  </article>
{% endfor %}
